<div class="header">
  <div class="container">
    <h1 id="bookings-h1"><%= current_user.first_name.capitalize! %>, here are your bookings</h1>
  </div>
</div>
<div class="container">
  <% @bookings.each do |booking| %>
    <% yacht_image = booking.yacht.photo %>
    <div class="card-product">
      <%= image_tag(yacht_image, alt: "yacht image") %>
      <div class="card-product-infos">
        <div class="card-product-details">
          <h2>Reservation details</h2>
          <h4><strong>Booking ID: </strong> <%= booking.id %><br></h4>
          <h4><strong>Yacht name: </strong> <%= booking.yacht.name %><br></h4>
          <h4><strong>Reservation name: </strong> <%= current_user.first_name %><br></h4>
          <h4><strong>Date: </strong> <%= booking.from_date.strftime('%Y-%m-%d') %> to <%= booking.to_date.strftime('%Y-%m-%d') %><br></h4>
          <h4><strong>Total price: </strong>€ <%= booking.value %></h4>
        </div>
        <div class="card-product-actions">
          <%= link_to "Cancel booking", booking_path(booking), data: { confirm: "Are you sure?", turbo_method: :delete }, class: "btn btn-danger" %>
          <%= link_to "Edit booking", edit_user_booking_path(booking), data: { confirm: "Are you sure?" }, class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
