<% if !user_signed_in? %>
    <div class="nav-1">
        <div class="pull-left">
        <%= link_to("", root_path, class: "fa-solid fa-sailboat", id: "logo") %>
        <p>Welcome!</p>
        
        <div class="show-add">
            <%= link_to("Show Bookings", bookings_path) %>
            <%= link_to("Show Yachts", yachts_path) %>
            <%= link_to("Add Yacht", new_yacht_path) %>
        </div>
        
        </div>
        <div class="pull-right">
        <%= link_to("Sign up",  new_user_registration_path) %></li>
        <%= link_to("Log in", new_user_session_path) %></li>
        </div>
    </div>
<% else %>
    <div class="nav-1">
        <div class="pull-left">
        <%= link_to("", root_path, class: "fa-solid fa-sailboat", id: "logo") %>
        <p>Welcome, <%= current_user.email %>!</p>
        <%= link_to("Browse", yachts_path) %>
        </div>
        <div class="pull-right">
        <%= link_to 'Logout', destroy_user_session_path, data: { turbo_confirm: 'Are you sure?', turbo_method: :delete } %>
        </div>
    </div>
<% end %>
