<div class="container mt-5">
  <h1 class="text-center">Yacht Details</h1>

  <div class="card mt-4">
    <div class="card-body">
      <% if @yacht.photo.present? %>
        <div class="text-center mb-4">
          <%= image_tag @yacht.photo, class: "img-fluid", alt: @yacht.name %>
        </div>
      <% end %>
      <h2 class="card-title"><%= @yacht.name %></h2>
      <p class="card-text"><strong><i class="fas fa-ship"></i> Model:</strong> <%= @yacht.model %></p>
      <p class="card-text"><strong><i class="fas fa-dollar-sign"></i> Price per day:</strong> <%= number_to_currency(@yacht.price) %></p>
    </div>
    <div class="card-footer d-flex justify-content-between">
      <a href="<%= yachts_path %>" class="btn btn-secondary">
        <i class="fas fa-arrow-left"></i> Back to All Yachts
      </a>
      <% if current_user == @yacht.user %>
        <div>
          <%= link_to 'Edit', edit_yacht_path(@yacht), class: 'btn btn-warning mr-2' %>
          <%= link_to 'Delete', yacht_path(@yacht), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="container py-5">
  <div class="row">
    <div class="col-12 col-md-6 offset-lg-3">
      <div class="bg-white rounded p-3 shadow">
        <h3>Book this yacht</h3>
        <%= simple_form_for [@yacht, @booking] do |f| %>
          <%= f.input :from_date %>
          <%= f.input :to_date %>
          <p> <strong>Total price: <span id="value"><%= @booking.value %> €</span></strong></p>
          <%= f.submit class: 'btn btn-success' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
